a{
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

a:link{
    color: deeppink;
}

a:visited{
    color: orange;
}

a:active{
    color: purple;
}

/* displaying liknks as button */

a,button{
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    margin: 15px;
    background-color: rgb(27, 106, 172);
    width: 70px;
    font-size: 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid rgb(27, 106, 172);
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}


a:hover{
    color: lime;
    text-decoration: underline;
    font-size: 20px;
}